body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: cursive;
    
}
.top{
    background-image:url(images/bg-hero-desktop.svg);
    background-size: contain;
}

nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav button{
    width: 20%;
    height: 60px;
    border: none;
    border-radius: 40px;
    background-color: white;
    font-family: cursive;

}
button:hover{
    cursor: pointer;
}
.upper{
    margin: 0  100px;
}
.first{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
}
.first img{
    height: 350px;
   
}
.one{
    width: 30%;
    font-size: 15px;
}
.one button{
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgb(253, 165, 206);
    font-family: cursive;
}
.lower-body{
    background-color: white;
    position: relative;
    margin-top: 80px;
    
}
.cards{
    display: flex;
    justify-content: space-between;
    margin: 0  100px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(228, 222, 222);
    height: 350px;
    margin-top: 50px;
 
}
.cards img{
    height: 100%;
}
.texts{
    width: 30%;
    font-size: 15px;
    margin: 60px 80px ;
}

.tiny{
    position: absolute;
    top: 1300px;
    left: 340px;
    width: 50%;
    height: 150px;
    box-shadow:  1px 1px 8px 1px rgb(228, 222, 222);
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
.tiny button{
    width: 30%;
    height: 60px;
    border: none;
    border-radius: 40px;
    margin-top: 12px;
    background-color: rgb(253, 165, 206);
    

}
.bigDown{
    /* display: flex; */
    background-color: rgb(128, 121, 82);
    margin-top: 250px;
}
.smallDown{
    display: flex;
    background-color: rgb(128, 121, 82);
    margin: 0  100px;

}
.innerText{
    width:200px;
    margin-top: 100px;
    margin-right: 150px;
    
}
.innerText:nth-child(1){
    margin-top: 30px;
}
.innerText button{
    width: 100px;
    height: 30px;
    background-color: rgb(241, 139, 202);
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
}
.end{
    margin-left: 70%;
    margin-top: 40px;
}